
body {
    font-size: 30px;
    font-family: "Apple LiGothic", Arial, sans-serif;
    color: black;
    background-color: #ffffff;
}

h1 {
    font-size: 60px;
    font-family: "Impact",sans-serif;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 25px;
    display: inline;
}
.header p {
    margin-left: 25px;
}

h2,h3,h4 {
    color: red;
    font-weight: bold;
    font-family: "Helvetica",sans-serif;
    display: inline;
}


a:link {
    color: red;
    font-style: normal;
   
}

a:visited {
    color: red;
    font-style: normal;
       
}

a:hover {
    color: blue;
    text-decoration: underline;
    text-decoration: overline;
    font-weight: bold;
}

#usrnm,#psswrd,#objURL,#objname,#objDescr,#objPrice,#objNumber 
{
    border-style: outset;
    border-color: navy;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: 3px;
    margin-left: 3px;
    
}

table
{
    border-style: outset;
    border-collapse: collapse;
    color: black;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 15px;
    margin-left: 15px;
    
}


th {
    font-size: 35px;
    font-family: "Impact",sans-serif;
    color: whitesmoke;
    background-color: #666666; 
}

td {
   border-style: ridge;
   color:red;
}

.pari {
    background: #999999;
}

.dispari {
    background: #cccccc;
}

/*@media screen, handheld and (min-widht: 1024px) {
    .header{
        height: 200px;
        background-image: url(../images_web/scudetto_bacuccu.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 200px;
    }
    
    .contenuto{
        height: 400px;
        width: 1150px;
        float: right;
        margin-left: 5px;
    }
    
    .scorciatoie{
        height: 250px;
        width: 200px;
        float: left;
        background-image: url(../images_web/wrinkled_white_paper_background_1800x1600.jpg);
    border-style: outset;
    border-color: black;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
    }
    
    .riservato{
        height: 255px;
        width: 200px;
        float: left;
        background-image: url(../images_web/wrinkled_white_paper_background_1800x1600.jpg);
        border-style: outset;
    border-color: black;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
         }
    
} */


@media screen, handheld and (max-widht: 480px) {
    
    body {
    font-size: 13px;
    font-family: "Apple LiGothic", Arial, sans-serif;
    color: black;
    background-color: #ffffff;
    }
   
    h1 {
    font-size: 28px;
    font-family: "Impact",sans-serif;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 25px;
    display: inline;
    }

    .header p {
    margin-left: 15px;
    font-size: 15px;
    }

    .header{
        height: 50px;
    }
    
    nav ul li, nav p{
        font-size: 16px;
        float: left;
        margin-right: 60px;
        padding-bottom: 60px;
        
    }
    
    .scorciatoie{
        height: 40px;
        width: 400px;
        background-image: url(../images_web/wrinkled_white_paper_background_1800x1600.jpg);
        border-style: outset;
        border-color: black;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 10px;
        padding-bottom: 10px;
    }
   
    .contenuto{
        height: 150px;
        width: 400px;
        margin-left: 15px;
        margin-bottom: 125px;
    }
    
    .riservato{
        height: 65px;
        width: 400px;
        background-image: url(../images_web/wrinkled_white_paper_background_1800x1600.jpg);
        border-style: outset;
        border-color: black;
        margin-bottom: 20px;
        margin-top: 40px;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
         }
    
} 