
body {
    font-size: 15px;
    font-family: "Open Sans", Arial, sans-serif;
    color: black;
    background-color:lightgoldenrodyellow;
}

h1,h2,h3,h4 {
    color: red;
    background-color: #cccccc;
    font-weight: bold;
    font-family: "Comic sans ms", Arial, sans-serif;
}


a:link {
    color: red;
    font-style: normal;
   
}

a:visited {
    color: red;
    font-style: normal;
       
}

a:hover {
    color: blue;
    text-decoration: underline;
    text-decoration: overline;
    font-weight: bold;
}

#usrnm,#psswrd,#objURL,#objname,#objDescr,#objPrice,#objNumber 
{
    border-style: outset;
    border-color: red;
    
}

table
{
    border-style: outset;
    border-collapse: collapse;
    color: red;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: 3px;
    margin-left: 3px;
    
}

nav {
    background-color: pink;
}